.u-section-1 .u-sheet-1 {
  min-height: 892px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 521px;
  margin: 26px auto 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-icon-1 {
  height: 58px;
  width: 73px;
  margin: -68px auto 0 234px;
}

.u-section-1 .u-image-1 {
  width: 223px;
  height: 135px;
  margin: 178px auto 0 428px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 25px auto 0 450px;
  padding: 8px 43px 8px 41px;
}

.u-section-1 .u-image-2 {
  width: 539px;
  height: 44px;
  margin: 336px auto 37px 270px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -12px;
    margin-left: 233px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 350px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -117px;
    margin-left: 250px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 124px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-2 {
    margin-left: 30px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 181px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-left: 317px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-left: 1px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 876px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 117px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 28px;
    margin-left: 0;
  }
}